
/* @font-face {
  font-family: 'Goldman-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Goldman-Bold'),
    url('../fonts/Goldman-Bold.woff2') format('woff2'),
    url('../fonts/Goldman-Bold.woff') format('woff');
  font-display: swap;
}
 */
