@use 'importer' as *;

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @include KyivTypeSans-350;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  color: $white-400;
  position: relative;
  background-color: $white-400;

  &.lock {
    overflow: hidden;
  }
}

//@include KyivTypeSans-700;

.main {
  flex-grow: 1;
}

.container {
  max-width: 828px;
  padding: 0 30px;
  margin: 0 auto;
}
