@use 'importer' as *;

.feedback-form {
  background-color: $withe-400;
  &__header {
    padding: 40px 40px 60px;
    background-color: $green-700;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50%;
    overflow: hidden;
  }
  .logo {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__title {
    @include KyivTypeSans-350;
    font-size: 18px;
    line-height: 1;
    text-align: center;
  }
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  /* Контані дані */

  
}