$green-700: #132C27;
$green-600: #274B44;
$text: #203226;
$main-grey: #D9D9D9;
$gold-star: #DB8C15;
$white-400: #FFFFFF;




@mixin KyivTypeSans-350 {
  font-family: "KyivTypeSans-Regular", sans-serif;
  font-weight: 350;
}
@mixin KyivTypeSans-700 {
  font-family: "KyivTypeSerif-Bold", sans-serif;
  font-weight: 700;
}
@mixin KyivTypeSans-350-2 {
  font-family: "KyivTypeSans-Regular2", sans-serif;
  font-weight: 350;
}
@mixin KyivTypeSans-350-3 {
  font-family: "KyivTypeSans-Regular3", sans-serif;
  font-weight: 350;
}
@mixin KyivTypeSans-300 {
  font-family: "KyivTypeSerif-Light", sans-serif;
  font-weight: 350;
}


 %checkbox-hidden,
 %radio-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
 }
 %uppercase{
   text-transform: uppercase;
 }
 %capitalaize {
  text-transform: capitalize;
 }

 %visual-hiden {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    position: absolute;
 }